  
.main-footer {
    color:black;
    background-color:white;
    padding-top: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0em;
    padding-bottom: 2em;
    
    
  }
  a{
      text-decoration: none;
  }
  