  
.main-footer {
    color:black;
    background-color:white;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0em;
   
    
    
  }
  a{
      text-decoration: none;
  }
  